<div>
<!--  <div id='spotlightcontainer' class='m-auto rotate_spotlight'>-->
<!--    <div id='sl1' class='spotlights hcenter'></div>-->
<!--    <div id='sl2' class='spotlights hcenter'></div>-->
<!--    <div id='sl3' class='spotlights hcenter'></div>-->
<!--    <div id='sl4' class='spotlights hcenter'></div>-->
<!--    <div id='sl5' class='spotlights hcenter'></div>-->
<!--    <div id='sl6' class='spotlights hcenter'></div>-->
<!--    <div id='sl7' class='spotlights hcenter'></div>-->
<!--    <div id='sl8' class='spotlights hcenter'></div>-->
<!--  </div>-->
</div>
<img class="bounce" width="500px" src="../../assets/logo.png" alt="">

